@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: "Monlam";
  src: url("/public/font/MonlamTBslim.woff2") format("woff2"),
    url("/public/font/MonlamTBslim.woff") format("woff"),
    url("/public/font/MonlamTBslim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/font/Poppins-Regular.woff2") format("woff2"),
    url("/public/font/Poppins-Regular.woff") format("woff"),
    url("/public/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



.custom-fileinput input::file-selector-button { 
 background-color: #707070;
}
.custom-fileinput input::file-selector-button:hover { 
  background-color: #707080;
 }
.wizard-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

:root {
  --fontsize: 16px;
}

html {
  font-size: var(--fontsize);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}